@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "FeedBack Form";
}
<div class="MyClass">
    <h1>Fill Out the Form to give Feedback</h1>
    <form>
        <h1>Input: </h1><input type="text" name="input">
    </form>
    <input type="submit" name="Enter">
</div>


