@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="MyClass">
        <h1>JabberJaw Search</h1>
        <input type="text" name="input">
        <input type="submit" name="Enter">
    </div>
</div>