@model JabberJaw.Models.SearchDetails

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <div class="MyClass">
        <img src="~/Content/JabberJaw.jpg">
        <h1>JabberJaw Search</h1>
        <h2>Talk to JabberJaw Below</h2>
        <div id="log">
            @foreach (var item in Model.AllText)
            {
                <div>
                    <h4>@item.query</h4>
                </div>
            }
        </div>
        <br />

        @using (Html.BeginForm())
        {
            @Html.TextBoxFor(x => x.newText)
            <input type="submit" Value="Talk" name="Talk To JabberJaw">
          

        }
    </div>
</div>