@model JabberJaw.Models.SearchDetails

@{
    ViewBag.Title = "Home Page";
}



@using (Html.BeginForm())
{
    <div class="jumbotron">
        <div class="MyClass">
            <img src="~/Content/JabberJaw.jpg">
            <h1>JabberJaw Search</h1>
            <h2>Talk to JabberJaw Below</h2>
            <div id="log">   
                @foreach (var item in Model.AllText)
                {
                <div>
                    <h4>@item.query</h4>
                    <hr />
                </div>
                }  
            </div>
            @Html.TextBoxFor(model => model.AllText)
            <input type="submit" name="Talk To JabberJaw">
        </div>
    </div>
}

<!--
    
add back the at symbols to make it work
    foreach (var item in Model.AllFeedback)
{
    <div>
        <h4>item.word</h4>
        <h4>item.partOfSpeech</h4>
        <h4>item.respondedTo</h4>
        <hr />
    </div>
}
-->
