@model JabberJaw.Models.SearchDetails

@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/ModalStyle.css">
<div class="jumbotron">
    <div class="MyClass">
        <img src="~/Content/JabberJaw.jpg">
        <h1>JabberJaw Search</h1>
        <h2>Talk to JabberJaw Below</h2>
        <div id="log">
            @foreach (var item in Model.AllText)
            {
                <div>
                    <h4>@item.query</h4>
                </div>
            }
        </div>
        <!-- trigger the mPopup -->

        <!-- mPopup box -->
        <div id="mpopupBox" class="mpopup">
            <!-- mPopup content -->
            <div class="mpopup-content">
                <div class="mpopup-head">
                    <span class="close">×</span>
                    <h2>Helping JabberJaw Learn</h2>
                </div>
                <div class="mpopup-main">
                    <p>JabberJaw is Always Learning</p>
                    <p>Because of this he always needs help, please click here to get started helping JabberJaw learn</p>
                    @Html.ActionLink("Help JabberJaw Learn", "FeedBack", "Home")
                </div>
                <div class="mpopup-foot">
                    <p>A Message from The Developers of JabberJaw</p>
                </div>
            </div>
        </div>
        <br />
        @if (Model.isResponse)
            {
            <!---<a href="javascript:void(0);" id="mpopupLink">Open Popup</a>-->
            <script>popUp()</script>
            }
        @using (Html.BeginForm())
        {
            @Html.TextBoxFor(x => x.newText)
            <input type="submit" Value="Talk" name="Talk To JabberJaw" >
           <!-- <a href="javascript:void(0);" id="mpopupLink">Open Popup</a>-->
        }
    </div>
</div>
<script>
    function popUp()
    {
        var mpopup = document.getElementById('mpopupBox');

        // get the link that opens the mPopup
        var mpLink = document.getElementById("mpopupLink");

        // get the close action element
        var close = document.getElementsByClassName("close")[0];

        // open the mPopup once the link is clicked
        //mpLink.onclick = function () {
        mpopup.style.display = "block";
        
        //}

         //close the mPopup once close element is clicked
        close.onclick = function () {
            mpopup.style.display = "none";
       }

        // close the mPopup when user clicks outside of the box
            //window.onclick = function (event)
            //{
            //    if (event.target == mpopup)
            //    {
            //    mpopup.style.display = "none";
            //    }
            //}
    }
   
</script>