@model JabberJaw.Models.SearchDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "FeedBack";
}
<h2>FeedBack</h2>
    <div>
        <h4>Your input:</h4>
        <h4>@Model.inputString</h4>
        <hr />
        <h4>Bots last reply: </h4>
        <h4>@Model.previousText</h4>
        <hr />
        <h3 id="feedbackForm">Submit a response you believe is better below</h3>
    </div>
@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x.newText)
    @*<h4>Enter the value here that the responses should be valued(temporary): </h4>
    @Html.TextBoxFor(x =>x.userNum)*@
    <input type="submit" Value="Submit" name="Message Prefered">

}

    

