@model JabberJaw.Models.FeedbackDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x.newText)
    <input type="submit" Value="Talk" name="Talk To JabberJaw">
}
@foreach (var item in Model.AllWithPartOfSpeech)
{
    <div>
        <h4>@item.word</h4>
        <h4>@item.partOfSpeech</h4>
        <h4>@item.respondedTo</h4>
        <hr />
    </div>
}

