@model JabberJaw.Models.SearchDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "FeedBack";
}
<h2>FeedBack</h2>
<h3 id="feedbackForm">Please enter the sentence you would have preferred to hear here</h3>

    <div>
        <h4>Your input:</h4>
        <h4>@Model.inputString</h4>
        <hr />
        <h4>Bots last reply: </h4>
        <h4>@Model.previousText</h4>
        <hr />
    </div>
@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x.newText)
    <input type="submit" Value="Submit" name="Message Prefered">
}

    

